.nav-bar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  z-index: 5;
  border-bottom: 1px solid;
}

.nav-bar-section {
  display: flex;
  align-items: center;
}

.nav-links{
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item{
  padding-right: 2rem;
}

.nav-link-text{
  color: block;
}